body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
#canvas{
    margin-top: 200px;
}
#score{
    color: #EAE2B6;
    margin-bottom: -100px;
    font-size: 50px; 
}
span{
    color: #EAE2B6;
    font-size:70px;    
    margin-top: 50px;
}
#recommencer{
    color: #EAE2B6;
    display: none;
    margin-top: 20px;
}
#snake, #top{
    color: #EAE2B6;
    font-size: 50px;
}
